<h1 class="text-center display-4 mt-5">About</h1>
<p class="text-center font-weight-bold m-5">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
   お子様からお年寄りの方までお召し上がりいただけるよう、<br>
   様々なバリエーションをご用意しております。<br>
   また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
   ぜひご注文ください。
</p>
<div class="text-center"><%= image_tag 'no_image', size: "500 × 200" %></div>
